body {
  background: #ffffff;
}

a {
  color: #1c6ea0;
}

a:hover {
  color: #fa2646;
}

#headright {
  background: #0881fe;
}

#main-menu li li a,
#main-menu li li a:link,
#main-menu li li a:visited {
  background-color: #152d43;
}

#main-menu li li a:hover,
#main-menu li li a:active {
  background: #01152a;
}

.sidebar .block > h2 {
  background: #0881fe;
}

#bottom {
  background: #ffffff;
}

#copyright {
  background: #ffffff;
}

.form-submit{
  background-color: #0885fe;
}

.form-submit:hover{
  background: #454444;
}
